
#bank{
    background-color: gray;
    box-shadow:0 0 10px 1px #eee inset;
}

#Identification{
    background-color: rgb(179, 175, 175);
    box-shadow:0 0 10px 1px #eee inset;
}

h2{
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;

}

#contact{
    background-color: rgb(198, 199, 199);
    box-shadow:0 0 10px 1px #eee inset;
    
}
h1{
}
