#content{
    
    
}
#bank{
    background-color: gray;
}

#Identification{
    background-color: rgb(179, 175, 175);
}

h2{
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;

}

#contact{
    background-color: rgb(198, 199, 199);
}
h1{
}